.myTaskContainer {
    margin: 40px;
}

.paragraphTask {
    font-size: 2rem;
    font-weight: 600;
}

.line {
    width: 1200px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.08);
    margin-top: 10px;

}

.todoTrash {
    width: 20px;
    height: 20px;
    margin-left: 450px;
    cursor: pointer;
}

.todoContainer {
    width: 50vw;
    background: var(--Light-Orange, #F1ECE6);
    border-radius: 25px;
    height: 400px;
}

.todoMain {
    padding: 40px 40px 0px 40px;
    text-align: center;
    height: 400px;
    overflow: auto;
}

.personalTodo {
    margin-left: 40px;
}

.inputTodo {
    margin: 40px 0px;
}

.todoAddInput {
    border-radius: 25px 0px 0px 25px;
    width: 47vw;
    padding: 10px 10px 10px 40px;
    background: var(--Light-Orange, #F1ECE6);
    outline: none;
}

.addButton {
    background: rgba(118, 183, 205, 1);
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 0px 25px 25px 0px;
}